@import "../../sass-variables/variables.scss";

.searchReposPage{
    background-color: #fafafa;
    align-self: center;
    margin: auto 0;

    .topTitles *{
        color: #202020;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1{
            font-weight: 700;
            margin-bottom: 0;
        }

        .subtitle{
            font-size: 1.2rem;
            margin-bottom: 40px;
        }
    }

    .repoListRow{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .myProfileCardCol{
        margin: 0 !important;
        margin-top: 20px !important;
        
    }
}