.user-view{
    height: 200px;
    width: 100%;
}

.sidenav-close{
    // justify-self: flex-end;
    // margin-left: auto;
    cursor: pointer;
    p{
        width: 100%;
        text-align: center;
        margin: 0;
    }
}