@import '../../sass-variables/variables.scss';

.profileCardConatiner{
    display: flex;
    flex-direction: column;
    border-radius: 13px;
    overflow: hidden;

    header{
        height: 100px;
        background-color: #286776;
    }

    .profile-img{
        margin: 0 auto;
        transform: translateY(-50%);
    }
}